<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Word Scramble</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <script type='text/template' id='game-feedback'>
      <div v-bind:class='{error :  !correct, correct : correct}' class='feedback' v-if="showResult">
        <p><strong>{{feedback}}</strong> <input v-if="correct" type="button" value="Play again" v-on:click="reset"></p>
      </div>
    </script>
      <style>
          [v-cloak] {
            display: none
        }
      </style>
    <div id="app" v-cloak>
        <h1>Word Scramble</h1>
        <div v-if="!playerName"></div>
          <label>Enter your player name:
              <input type="text" v-model="playerName">
              <input type="button" value="Let's play" v-on:click="submitNameAndPlay">
              <span class="error" v-if="noNameError">Please enter a name to play</span>
          </label> 
        <div class='level'>
          <p>Difficulty level:</p>

          <input type='radio' id='easy' value='easy' v-model='level'>
          <label for='easy'>Easy</label>

          <input type='radio' id='medium' value='medium' v-model='level'>
          <label for='medium'>Medium</label>

          <input type='radio' id='hard' value='hard' v-model='level'>
          <label for='hard'>Hard</label>
        </div>

        <div v-if="showGame == true">
          <p>Game on, {{playerName}}!</p>

          <p>Your mystery word is: <span class="mysteryWord">{{shuffledWord}}</span></p>

          <P>Hint:  <i>{{hint}}</i></P>
            <label>Your guess:
              <input type="text" v-model="guess">
              <input type="button" value="Submit Guess" v-on:click="submitAnswer">
           </label> 
        </div>
        <game-feedback></game-feedback>
        <div v-bind:class="{ true : false }"></div>
    </div>  
  </body>
</html>
