<!doctype html>
<html lang='en'>
<head>
	<title>Rock Paper Scissors</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body>
	<script type='text/x-template' id='round-detail'>
		<div v-if='!deleted'>
			<table>
				<tr>
				<th>Round</th>
				<th>Winner</th>
				<th>Player's Choice</th>
				<th>Computer's Choice</th>
				<th>Delete Round</th>
				</tr>
				<tr>
				<td>{{ number }}</td>
				<td class="winner">{{ winner }}</td>
				<td><slot name='player'></slot></td>
				<td><slot name='computer'></slot></td>
				<td><a @click='deleteRound' class='gameButton'>Delete round</a></td>
				</tr>
			</table>
		</div>
	</script>
	<div id="app" v-cloak>
		<div class="left-column">	
			<h1>Rock-Paper-Scissors</h1>
			<img src="images/rock-paper-scissors-scissors-clipart.jpg" class="main-logo">
			<form class ="submitForm">
				<p>Please select one:</p>
				<input type="radio" id="rock" value="Rock" v-model='playerSelection'>
				<label for="rock">Rock</label><br>
				<input type="radio" id="paper" value="Paper" v-model='playerSelection'>
				<label for="paper">Paper</label><br>
				<input type="radio" id="scissors" value="Scissors" v-model='playerSelection'>
				<label for="scissors">Scissors</label>
				<p v-if='playerSelection'>Player's Choice: {{ playerSelection }}</p>
				<p v-if='playerSelection'>Versus</p>
				<p v-else>Please make a selection </p>
				<p v-if='gameCompleted'>Computer's Choice: {{ computerSelection }}</p>
				<p v-else>Computer's Choice: ? </p>
			</form>
			</br>
			<a v-if='rounds.length != 0' v-on:click='submitSelection' class="gameButton">Play again</a>
			<a v-else-if='playerSelection' v-on:click='submitSelection' class="gameButton">Play</a>
		</div>
		<div class="middle-column" v-if="rounds.length != 0"> 
			<h2>Winner:</h2>
			<h2 class="winner"> {{ winner }}</h2>
			<h2>Winning Tool:</h2>
			<h2 class="winner"> {{ outcome }}</h2>
			<img :src='imageSource' :alt='imageAlt' class='winning-tool-image'>
			<h2 v-if="outcome == 'Tie'"> {{ outcome }}</h2>
			<h2 class="loser" v-else-if="winner == 'Player'"> Losing Tool: {{ computerSelection }}</h2>
			<h2 class="loser" v-else> Losing Tool: {{ playerSelection }}</h2>
		</div>
		<div class="right-column" v-if="rounds.length != 0"> 
			<h2>Score:</h2>
			<h2 v-bind:class="{ winner: winner == 'Computer' }">Computer {{ computerScore }}</h2>
			<h2 v-bind:class="{ winner: winner == 'Player' }">Player {{ playerScore }}</h2>
			<a v-if='rounds.length != 0' v-on:click='resetGame' class="gameButton">Reset Game</a>
		</div>
		<div class="bottom-row" v-if="rounds.length != 0"> 
			<h2>Match history</h2>
				<round-detail
					v-for='round in rounds'
					v-bind:key='round.number'
					v-bind:number='round.number'
					v-bind:winner='round.winner'>
					<template v-slot:player> {{ round.playerChoice }}</template>
					<template v-slot:computer> {{ round.computerChoice }}</template>
				</round-detail>
		</div>
	</div>
</body>
</html>