<!doctype html>
<html lang='en'>
<head>
	<title>Rock Paper Scissors</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body>
	<div id="app" class="center" v-cloak>
		<h1>Rock Paper Scissors</h1>
		<form class ="submitForm">
			<p>Please select one:</p>
			<input type="radio" id="rock" value="rock" v-model='playerSelection'>
			<label for="rock">Rock</label><br>
			<input type="radio" id="paper" value="paper" v-model='playerSelection'>
			<label for="paper">Paper</label><br>
			<input type="radio" id="scissors" value="scissors" v-model='playerSelection'>
			<label for="scissors">Scissors</label>
			<p v-if='playerSelection'>Choice: {{ playerSelection }}</p>
		</form>
		</br>
		<input type="button" v-on:click='submitSelection' value="Submit">
	</div>
	<div class="center">
		<h2>Game Outcome</h2>
		<table>
			<tr>
			  <th>Player Choice</th>
			  <th>Computer Choice</th>
			  <th>Winner</th>
			</tr>
			<tr>
			  <td id="playerSelection"></td>
			  <td id="computerSelection"></td>
			  <td id="outcome"></td>
			</tr>
		  </table>
	</div>
	<div class="center">
		<h2>Winner:</h2>
		<h2 id="winner"></h2>
	</div>
</body>
</html>
<script>

//find the users choice of rock, paper, or scissors
function findSelection() {
    for (i = 0; i < choices.length; i++) {
      if (choices[i].checked == true) {
        return choices[i].value;
      }
    }   
};

//make a selection for the computer player
function findComputerSelection() {
	let randomItem = choices[Math.floor(Math.random()*choices.length)];
	return randomItem.value;
};

//determine the outcome of the game
function rockPaperScissors(playerSelection, computerSelection) {
	let winner = '';
	if (playerSelection == computerSelection) {
		winner = 'tie';
	}
	else if (playerSelection == 'rock') {
		if (computerSelection == 'scissors') {
			winner = playerSelection;
		}
		else {
			winner = computerSelection;
		}
	}
	else if (playerSelection == 'paper') {
		if (computerSelection == 'rock') {
			winner = playerSelection;
		}
		else {
			winner = computerSelection;
		}
	}
	else if (playerSelection == 'scissors') {
		if (computerSelection == 'paper') {
			winner = playerSelection;
		}
		else {
			winner = computerSelection;
		}
	}
	return winner;
};

//update the game outcome table and winner
function updateWinnersTable(playerSelection, computerSelection, outcome) {
	document.getElementById('playerSelection').innerHTML = playerSelection;
	document.getElementById('computerSelection').innerHTML = computerSelection;
	document.getElementById('outcome').innerHTML = outcome;
	if (outcome == 'tie') {
		document.getElementById('winner').innerHTML = 'Tie';
	}
	else if (outcome == playerSelection) {
		document.getElementById('winner').innerHTML = 'Player wins';
	}
	else {
		document.getElementById('winner').innerHTML = 'Computer wins';
	}
};
</script>