<!doctype html>
<html lang='en'>
<head>
	<title>Rock Paper Scissors</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body>
	<div id="app" v-cloak>
		<div class="center">	
			<h1>Rock-Paper-Scissors</h1>
			<img src="images/rock-paper-scissors-scissors-clipart.png" class="main-logo">
			<form class ="submitForm">
				<p>Please select one:</p>
				<input type="radio" id="rock" value="Rock" v-model='playerSelection'>
				<label for="rock">Rock</label><br>
				<input type="radio" id="paper" value="Paper" v-model='playerSelection'>
				<label for="paper">Paper</label><br>
				<input type="radio" id="scissors" value="Scissors" v-model='playerSelection'>
				<label for="scissors">Scissors</label>
				<p v-if='playerSelection'>Player's Choice: {{ playerSelection }}</p>
				<p v-if='gameCompleted'>Computer's Choice: {{ computerSelection }}</p>
			</form>
			</br>
			<a v-if='playerSelection' v-on:click='submitSelection' class="playButton">Play</a>
		</div>
		<div class="center" v-if="gameCompleted"> 
			<h2 id="winner">Winner: {{ winner }}</h2>
			<h2>{{ outcome }}</h2>
		</div>
		<div class="center" v-if="gameCompleted"> 
				<h2>Match history</h2>
				<table>
					<tr>
					<th>Player Choice</th>
					<th>Computer Choice</th>
					<th>Winner</th>
					</tr>
					<tr>
					<td id="playerSelection">{{ playerSelection }}</td>
					<td id="computerSelection">{{ computerSelection }}</td>
					<td id="outcome">{{ outcome }}</td>
					</tr>
				</table>
		</div>
	</div>
</body>
</html>