.main-logo {
  width: 300px;
}

.winning-tool-image {
  width: 200px;;
}

body {
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}
#app {
  width: 2000px;
}
.left-column {
    margin-left: 20%;
    border: 5px solid blue;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
}

.bottom-row {
  border: 5px solid blue;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  display: block;
  margin-left: 20%;
  width: 49%;
  margin-top: 5px;
}

.right-column {
  border: 5px solid blue;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  height: 537px;
}

.middle-column{
  border: 5px solid blue;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  height: 537px;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

.winner {
  font-weight: bold;
  color: green;
  font-size: 27px;
}

.submitForm {
  text-align: center;
}

#topMargin {
  margin-top: 40px;
}

a.gameButton {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  cursor:pointer;
  }
  a.gameButton:active{
  top:0.1em;
  }
  @media all and (max-width:30em){
  a.gameButton{
    display:block;
    margin:0.4em auto;
  }
  }